[Unit]
Description=Frontier Server
After=condb2-rest-api.service
Requires=condb2-rest-api.service

[Container]
ContainerName=frontier-server
Image=ghcr.io/dune/frontier-condb2/frontier-server:latest
AutoUpdate=registry
CgroupsMode=no-conmon
Network=frontier-condb2.network
Environment=APP_STORAGE=/storage/local/data1/frontier
Environment=FRONTIER_SERVICE_PORT=8000
PublishPort=8000:8000
Environment=FRONTIER_GROUP=dunefrontier
Environment=FRONTIER_USER=dunefrontier
Volume=/storage/local/data1/frontier:/storage/local/data1/frontier:z
UIDMap=0:1:999
UIDMap=1000:0:1
UIDMap=1001:1001:64536

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=180

[Install]
WantedBy=default.target
