[Unit]
Description=Frontier
After=condb2.service
Requires=condb2.service

[Container]
ContainerName=frontier-server
Image=frontier-server
CgroupsMode=no-conmon
Network=frontier-condb2.network
Environment=APP_STORAGE=/storage/local/data1/frontier
Environment=FRONTIER_SERVICE_PORT=8000
PublishPort=8000:8000
Environment=FRONTIER_GROUP=dunefrontier
Environment=FRONTIER_USER=dunefrontier
Volume=/storage/local/data1/frontier:/storage/local/data1/frontier:z
UIDMap=0:1:999
UIDMap=1000:0:1
UIDMap=1001:1001:64536

[Install]
WantedBy=default.target
